<!DOCTYPE html>
<html>
<head>
  <title>Beacon</title>
  <%= stylesheet_link_tag    "beacon/application", :media => "all" %>
  <%= javascript_include_tag "beacon/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
